@font-face{
font-family:"Century Gothic";
src:url(fonts/GOTHIC.TTF);
}
@font-face{
font-family:"Century Gothic";
src:url(fonts/GOTHICB.TTF);
font-weight:bold;
}
@font-face{
font-family:"Century Gothic";
src:url(fonts/GOTHICI.TTF);
font-style:italic;
}
@font-face{
font-family:"Century Gothic";
src:url(fonts/GOTHICBI.TTF);
font-weight:bold;
font-style:italic;
}
body{
font-family:"Century Gothic",sans-serif;
line-height:2em;
background-color:#fff;
}
a:link,a:visited{
color:#393;
text-decoration:none;
}
a:hover{
color:#9c6;
}
a.button:link,a.button:visited{
text-align:center;
border:1px solid #393;
}
a.button:hover{
background-color:#393;
color:#ffffff;
}
h1{
text-indent:2em;
}
nav{
float:left;
width:384px;
text-align:center;
font-size:14pt;
}
ul{
text-align:left;
}
div#latest li{
margin:3em 0px;
}
div#main-wrapper{
padding:0px 16px;
}
div#main{
float:left;
width:1280px;
}
p{
text-indent:2em;
line-height:2.5em;
word-spacing:0.5em;
}
div#footer{
clear:both;
text-align:center;
color:#363;
}
