body{
font-family:"Courier New",monospace;
line-height:2em;
background-color:#ffffff;
}
nav{
float:left;
width:350px;
text-align:center;
font-size:14pt;
}
ul{
text-align:left;
}
div#main{
margin-left:350px;
padding:8px;
}
a:link,a:visited{
color:#204060;
text-decoration:none;
}
a:hover{
color:#007fff;
}
a.button:link,a.button:visited{
text-align:center;
border:1px solid #204060;
}
a.button:hover{
background-color:#204060;
color:#ffffff;
}
#download{
display:block;
position:relative;
top:32px;
width:256px;
padding:8px;
}
div#header{
}
div#logo{
float:left;
width:192px;
height:192px;
margin:20px 0px;
}
div#header-right{
float:left;
margin:0px 30px;
}
div#ss{
clear:both;
}
div#ss img{
height:640px;
}
p#desc{
display:block;
padding:4px 16px;
line-height:2em;
color:#404040;
}
div#footer{
clear:both;
text-align:center;
color:#304050;
}