#download{
display:block;
margin-top:48px;
width:256px;
padding:8px;
}
div#icon{
float:left;
width:192px;
height:192px;
margin:20px 0px;
}
div#header-right{
float:left;
margin:0px 30px;
}
div#gallery{
clear:both;
}
div#gallery img{
height:320px;
}
p#desc{
display:block;
padding:4px 16px;
line-height:2em;
}